<div class='login'>
	<h2 class='login__header mb-4'>Login to NovelTrace</h2>
	{{! <div class="section">
    <p class="lead">Create public and private stories from your life</p>
</div> }}
	<a
		href='/auth/google'
		class='btn btn-secondary btn-lg login__button d-flex justify-content-center align-items-center'
	>
		<i class='bi bi-google mr-3'></i>
		Log In With Google
	</a>
</div>